html {
    height: 100%;
}

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
}

/*=================== Home Page ========================*/
#home-logo {
    width: 600px;
    padding:25px 10px 10px 10px;
    margin:auto;
    display:block;
}

.body-home {
    background-color: beige;
    background-position: center;
}

.home-menu-items {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border: 5px solid;
    display: block;
    margin:auto;
    margin-bottom: 10px;
    width: 70%;
}

/*=================== Starters Page ========================*/

.body-content {
    background-color: beige;
    background-position: center;
}

.body-content a {
    text-decoration: none;
}

.body-content i {
    float: left;
    padding: 10px;
    color: black;
    font-size: 50px;
}

#content-logo {
    width: 600px;
    padding:25px 95px 10px 10px;
    margin:auto;
    display:block;
}

#starters-page h1 {
    text-align: center;
    text-transform: uppercase;

}

.menu-items {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border: 5px solid;
    display: block;
    margin:auto;
    margin-bottom: 10px;
    width: 70%;
}

/*=================== Products page ========================*/
#item-logo { /* or use "img#item-logo" if the id is assigned to only one item/image */
    width: 300px;
    padding:25px 95px 10px 10px;
    margin:auto;
    display:block;
}
.item-details img {
    width: 100%;             /* Full width */
    height: 30vh;            /* Height relative to viewport (30% of screen height) */
    object-fit: cover;       /* Fill the area without stretching */
    display: block;          /* Remove inline spacing */
}

.item-details h1 {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin:auto;
    margin-bottom: 10px;
    width: 70%;
    padding-top: 10px;
}

.item-details p {
    margin:auto;
    text-align: center;
}

.list-items li {
    line-height: 25px;
    
}

.extra-items h3 {
    padding-left: 25px;
}

.extra-items input {
    margin-left: 25px;
    padding-bottom: 10px;
}

.form-extra-notes label {
    margin-left: 25px;
    padding-bottom: 10px;
}